body {
  padding-top: 81px;  /* Move body of page below navbar. */
}

.navbar-brand {
  padding: 0px;
}

.navbar {
  background-image: url("bg-carbon.jpg");
  height: 81px;
}

.navbar-inverse .navbar-nav>li>a {
  font-family: Lucida Grande, sans-serif;
  font-size: 1.25em;
  font-weight: bold;
  color: #E5EDDC;
  display: block;
}

.nav>li {
  width: 9em;
  height: 81px;
  text-align: center;
}

.canoes{
  background-image: url(pueo-canoes-front.jpg);
  background-size: cover;
  background-position: center;
  height: 385px;
}

.black_bar{
  background-color: black;
  height: 131px;
  text-align: center;
}

.black_bar h2 {
  font-family: Georgia, Times;
  font-size: 3em;
  color: #666;
  font-weight: 700;
  margin: 0px;
  padding-top: 30px;
}